typer
lightning
natsort
wandb==0.16.0
matplotlib
interruptingcow
ninja
pdbpp
h5py
cupy
dataclass-wizard[yaml]
plyfile
diffusers==0.29.2
positional-encodings
imageio[ffmpeg]
trimesh
scikit-image
scikit-learn
libigl==2.5.1
numpy==1.23.5
networkx
torchcfm
deepdish
shutup
faiss-gpu
rtree
einops
git+https://github.com/96lives/occwl.git
git+https://github.com/clementjambon/ps-utils.git
git+https://github.com/clementjambon/ps-py-plus@2438d064eeb46663b6c5e60122c297bb39b9a327
git+https://github.com/openai/CLIP.git

